{# @var club \Gyman\Bundle\ClubBundle\Entity\Club #}
{# @var entry \Gyman\Domain\Entry #}
{# @var lastVoucher \Gyman\Domain\Voucher #}

{% extends "MailerBundle::layout.html.twig" %}

{% block content %}
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <p>Witam,</p>

                            <p>To jest automatyczny komunikat ze strony http://{{ club.subdomain.name }}.{{ baseUrl }}</p>

                            <p>Administrator wysłał Ci zaproszenie do rejestracji konta, aby to zrobić wejdź na poniższy adres<br />
                                {{ path('gyman_member_register', [token: token]) }}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}
