{{ knp_menu_render('gyman.members.menu.tabs_picture', {
    'template': 'MembersBundle:Members:Menu/picture.html.twig',
    'currentAsLink' : true,
    'depth' : 1,
    'currentClass' : 'active'
}) }}

<div class="tab-content">
    <div id="filePane" class="tab-pane fade in active">
        {% if member is defined %}
            {% set foto = member.details.foto.fotoWithPath %}
        {% else %}
            {% set foto = '/bundles/members/images/no-profile.gif' %}
        {% endif %}

        <img src="{{ foto }}" class="thumbnail" id="memberFoto"/>

        {{ form_widget(form.uploadFile) }}

        <div class="control-group error">
            <div class="help-block">
                {{ form_errors(form.uploadFile) }}
            </div>
        </div>

    </div>
</div>
