{{ form_start(form) }}

<div class="button-action">
{{ form_widget(form.club) }}
</div>
<div class="button-action">
{{ form_widget(form.switch, {attr: {class: "btn btn-primary"}}) }}
</div>

{{ form_end(form) }}