<div class="alert">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    Wszedł na zajęcia <span class="badge badge-info">{{ entry.getActivity().getName }}</span> o <strong>{{ entry.getStartDate()|date("H:i") }}</strong>
</div>

tu bedzie formularz zamykania i sprzedazy

<select id="selling" multiple="MULTIPLE">
    <option>Woda mineralna (2,00 zł)</option>
    <option>Odżywka (12,00 zł)</option>
    <option>Coca cola (5,00 zł)</option>
</select>

{% block modal %}
<div class="hidden" id="ui-editEntryData">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% block modalTitle %}{{ entry.getMember().getName() }}{%endblock modalTitle%}</h3>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <a href="#" class="btn" id="saveFormInModal">Sprzedaż</a>
            <a href="#" class="btn btn-primary" id="saveFormInModal">Wyjście</a>
        </div>
    </div>
</div>
{% endblock modal %}


{% block javascript %}
{% javascripts
    '@EntriesBundle/Resources/public/coffee/entries.editEntry.coffee'
    '@DefaultBundle/Resources/public/js/jquery.ui.widget.js'
    '@DefaultBundle/Resources/public/js/jquery.ui.spinner.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    $(function() {

        modal.setupFromNode("div#ui-editEntryData");
        modal.setModalWindowClass("editEntryModal");

        window.editEntryModal = new EditEntry();

        $("select#selling").select2();
    });
</script>
{% endblock javascript %}

