/.vagrant
/web/bundles/
/web/assets/
/web/js/
/web/css/
/web/uploads/
/web/images/
/web/fonts/
/app/bootstrap.php.cache
/var/cache/*
/app/spool/*
/app/config/parameters.yml
/var/logs/*
!app/cache/.gitkeep
!app/spool/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
phantomjsdriver.log
app/config/behat_local.yml
web/css/*
!web/css/*
/nbproject/
/bower_components
/nbproject/*d
web/index.php
bower_components/d
node_modules/
.idea/
phantomjsdriver.log
auth.json
.php_cs.cache
.rsync_cache
composer.phar
composer.phar*
/composer-setup.php
/*.sql
/web/schedules/
!/web/schedules/.gitkeep
npm-debug.log
var/cache
var/logs