/web/bundles/
/web/assets/
/web/js/
/web/css/
/web/uploads/
/web/images/
/web/fonts/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
phantomjsdriver.log
app/config/behat_local.yml
web/css/*
!web/css/*
/nbproject/
/nbproject/*
web/index.php
bower_components/
node_modules/
.idea/
phantomjsdriver.log
auth.json
.php_cs.cache