{% extends '::base.html.twig' %}

{% block content %}
    <div class="heading">
        <h3>{{ 'settings.header.title'|trans }}: {% block settings_page_header %}{% endblock %}</h3>
    </div>

    <div class="row-fluid">
        <div class="span2">
            {{ knp_menu_render('main', {
                'template': 'GymanSettingsBundle:Menu:main.html.twig',
                'currentAsLink' : true,
                'depth' : 2,
                'currentClass' : 'active'
            }) }}
        </div>
        <div class="span10">
            {% include "::_flash.html.twig" %}

            {% block settings_page %}{% endblock settings_page %}
        </div>
    </div>

{% endblock content %}