
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     gyman
    database_user:     root
    database_password: root
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: user
    mailer_password: pass
    mailer_port:  1025
    locale:            pl
    secret:           "nuɐǝɔo ɹóʍʇsǝzɹd oƃǝɥɔns ɐu ɯǝłąuʎłdʍ"
    use_assetic_controller: false
    debug_toolbar:          true
    debug_redirects:        false
    sentry_url:             http://0@sentry
    sentry_revision:        ~
    base_url:               localhost
    sqlite_database_user:     admin
    sqlite_database_password: admin
    google_maps_api_key: ~
