{% extends 'GymanAppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Dodaj użytkownika
{% endblock title %}

{% block content %}
<div class="heading">

    <h3>Dodaj użytkownika</h3>

</div>

<div class="span12">
{% include "::_flash.html.twig" %}

{{ form_start(form, {
    attr : {
        'id' : "memberForm",
        'class' : "form-horizontal row-fluid",
        'novalidate' : 'NOVALIDATE'
    },
    action : path('gyman_member_new'),
    method : 'POST'
}) }}

    <div class="span4">
        {% if member is defined %}
        {% include 'GymanAppBundle:Members:Modal/_picture.html.twig' with {'form' : form, 'member' : member} %}
        {% else %}
        {% include 'GymanAppBundle:Members:Modal/_picture.html.twig' with {'form' : form} %}
        {% endif %}
    </div>

    <div class="span8">
        <div class="span6">
            {% include 'GymanAppBundle:Members:Modal/_details.html.twig' with {'form' : form} %}
        </div>
        <div class="span6">
            {% include 'GymanAppBundle:Members:Modal/_additional.html.twig' with {'form' : form} %}
        </div>
    </div>
    {{ form_rest(form) }}

    <div class="row-fluid">
    <div class="span12 form-actions">
        <div class="pull-right">
            <button class="btn btn-primary" type="submit">
                Zapisz
            </button>
            <button class="btn" type="submit">
                Zapisz i dodaj kolejny
            </button>
        </div>
    </div>
</div>

{{ form_end(form) }}

</div>

{% endblock content %}
