{% extends "DashboardBundle::layout.html.twig" %}

{% block body_class %}dashboard{% endblock %}

{% block body %}

    <div class="heading">

        <h3>Pulpit nawigatora</h3>

    </div><!-- End .heading-->

    <div class="form-row row-fluid">
        <div class="span4">
            {% include "DashboardBundle:Default:activities.html.twig" %}
            {% include "DashboardBundle:Default:hierarchy.html.twig" %}


        </div>

        <div class="span4">
            {% include "DashboardBundle:Default:searchUser.html.twig" %}
            {# {% include "DashboardBundle:Default:popularActivities.html.twig" %} #}

            <div class="reminder">
                <h4>Zadania</h4>

                {{ knp_menu_render('actions', {
                'template': ':Menu:dashboard_actions.html.twig',
                'currentAsLink' : true,
                'depth' : 2,
                'currentClass' : 'active'
                }) }}
            </div>
        </div>

        <div class="span4">
            <div class="reminder">
                <h4>Wydarzenia</h4>

                <ul class="messages">
                    <li class="user clearfix">
                        <a class="avatar" href="#">
                            <img alt="" src="/images/avatar.jpg">
                        </a>
                        <div class="message">
                            <div class="head clearfix">
                                <span class="name"><strong>Grzegorz Kaszuba</strong> zrobił:</span>
                                <span class="time">25 sekund temu</span>
                            </div>
                            <p>
                                Dodany użytkownik "Jan Kowalski".
                            </p>
                        </div>
                    </li>

                    <li class="user clearfix">
                        <a class="avatar" href="#">
                            <img alt="" src="/images/avatar.jpg">
                        </a>
                        <div class="message">
                            <div class="head clearfix">
                                <span class="name"><strong>Grzegorz Kaszuba</strong> zrobił:</span>
                                <span class="time">3 minuty temu</span>
                            </div>
                            <p>
                                Sprzedany karnet dla Michał Maj za 500zł.
                            </p>
                        </div>
                    </li>

                    <li class="user clearfix">
                        <a class="avatar" href="#">
                            <img alt="" src="/images/avatar.jpg">
                        </a>
                        <div class="message">
                            <div class="head clearfix">
                                <span class="name"><strong>Grzegorz Kaszuba</strong> zrobił:</span>
                                <span class="time">25 sekund temu</span>
                            </div>
                            <p>
                                Dodany użytkownik "Jan Kowalski".
                            </p>
                        </div>
                    </li>

                    <li class="user clearfix">
                        <a class="avatar" href="#">
                            <img alt="" src="/images/avatar.jpg">
                        </a>
                        <div class="message">
                            <div class="head clearfix">
                                <span class="name"><strong>Grzegorz Kaszuba</strong> zrobił:</span>
                                <span class="time">3 minuty temu</span>
                            </div>
                            <p>
                                Sprzedany karnet dla Michał Maj za 500zł.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    {#<div class="form-row row-fluid">#}
    {#<div class="span12">#}
    {#<div id="frequencyChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>#}
    {#</div>#}
    {#</div>#}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {# { chart(frequencyChart) } #}
        {# { chart(popularityChart) } #}
    </script>
{% endblock %}
