{% extends "DashboardBundle::layout.html.twig" %}

{#@todo: tłumaczenia!#}

{% block body_class %}dashboard{% endblock %}

{% block body %}

    <div class="heading">

        <h3>Pulpit nawigatora</h3>

    </div><!-- End .heading-->

    <div class="form-row row-fluid">
        <div class="span4">
            {% include "DashboardBundle:Default:activities.html.twig" %}
            {% include "DashboardBundle:Default:hierarchy.html.twig" %}


        </div>

        <div class="span4">
            {% include "DashboardBundle:Default:searchUser.html.twig" %}
            {# {% include "DashboardBundle:Default:popularActivities.html.twig" %} #}

            <div class="reminder">
                <h4>Zadania</h4>

                {{ knp_menu_render('actions', {
                'template': ':Menu:dashboard_actions.html.twig',
                'currentAsLink' : true,
                'depth' : 2,
                'currentClass' : 'active'
                }) }}
            </div>
        </div>

        <div class="span4">
            <div class="reminder" id="timeline">
                <h4>Wydarzenia</h4>
                <div id="dashboardTimeline"></div>
            </div>
        </div>
    </div>

    {#<div class="form-row row-fluid">#}
    {#<div class="span12">#}
    {#<div id="frequencyChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>#}
    {#</div>#}
    {#</div>#}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {# { chart(frequencyChart) } #}
        {# { chart(popularityChart) } #}
    </script>
{% endblock %}
