<div class="reminder" id="activitiesTab" data-date="{{ date|date("Y-m-d H:i:s") }}">
    <h4>Najpopularniejsze zajęcia</h4>
    <div id="popularityChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>

{#@todo tłumaczenia!#}