<div class="reminder" id="searchTab">
    <h4>Szukaj uczestnika</h4>

    <form name="gyman_member_search_form" id="membersSearchAutocompleteForm" class="input-append" method="POST" action="{{ path('gyman_members_search') }}">
        <input name="gyman_member_search_form[query]" id="membersSearchAutocomplete" placeholder="imię/nazwisko uczestnika lub kod" autocomplete="off">
        <button id="clickToOpenFoundUser" class="add-on btn-warning btn-large">
            <i class="icon16 icomoon-icon-search-2"></i>Pokaż
        </button>
    </form>
</div>

{# @todo: translacje! #}
