<div class="reminder" id="searchTab">
    <h4>Szukaj uczestnika</h4>


    {{ form_start(searchForm, {attr: {class: "input-append", id: "membersSearchAutocompleteForm"}}) }}
        {{ form_widget(searchForm.query, {attr: {placeholder: "imię/nazwisko uczestnika lub kod", autocomplete: "off"}}) }}
        <button id="clickToOpenFoundUser" class="add-on btn-warning btn-large">
            <i class="icon16 icomoon-icon-search-2"></i>Pokaż
        </button>
    </form>

    <a href="{{ path("gyman_members_search_form") }}">Zaawansowane</a>
</div>

{# @todo: translacje! #}
