<div class="reminder" id="searchTab">
    <h4>Szukaj uczestnika
    {% if is_granted("ROLE_ADMIN") %}
        <a class="icon tip" href="{{ path("_list_members") }}"><span class="icon16 icomoon-icon-users"></span></a>
    {% endif %}
    </h4>

    <form style="margin-top: 25px">
        <input id="membersSearchAutocomplete" placeholder="imię/nazwisko uczestnika" autocomplete="off" style="height: 32px">
        <span class="icon16 icomoon-icon-search-2"></span>
    </form>
</div>


{# @todo: translacje! #}