<div class="control-group" data-filter-name="{{ widget }}">
    <label for="filter_subfilters_checkedIn" class="control-label">Znajduje się w klubie</label>
    <div class="controls">
        <a href="#" class="removeFilter pull-right">&times; usuń</a>
        {{ form_widget(form.checkedIn) }}
    </div>
</div>

