{%  extends 'GymanReportsBundle::layout.html.twig' %}

{% block body %}
<div class="heading">
    <h3>Raporty</h3>
</div>

<div class="form-row row-fluid">
    <div class="span12">
        <ul>
            <li><a href="{{ path("gyman_reports_per_section") }}">Przychody z podziałem na sekcje</a></li>
            <li><a href="{{ path("gyman_reports_all") }}">Wszystkie przychody</a></li>
        </ul>
    </div>
</div>
{% endblock body %}
