{% extends "base.html.twig" %}

{% block body_class %}dashboard{% endblock %}

{% block body %}

<div class="heading">

    <h3>Pulpit nawigatora</h3>                    

</div><!-- End .heading-->

<div class="form-row row-fluid">
    {% if occurences|length > 0 %}
    <div class="span6">
        {% include "DashboardBundle:Default:activities.html.twig" %}
    </div>
    {% endif %}
    
    <div class="span6">
        {% include "DashboardBundle:Default:popularActivities.html.twig" %}
    </div>
</div>
{% endblock body %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    "@DashboardBundle/Resources/public/coffee/dashboard.coffee"
    "@DashboardBundle/Resources/public/coffee/ActivityTab.coffee"
 %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{# CSS #}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite'
        '@DashboardBundle/Resources/public/less/dashboard.less'
        filter="cssrewrite"
    %}

<link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock stylesheets %}