{% extends 'GymanAppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Dodaj użytkownika
{% endblock title %}

{% block content %}
<div class="heading">

    <h3>Dodaj użytkownika</h3>

</div>

<div class="span12">
{% include "::_flash.html.twig" %}

{{ form_start(form, {
    attr : {
        'id' : "memberForm",
        'class' : "form-horizontal row-fluid",
        'novalidate' : 'NOVALIDATE'
    },
    action : path('gyman_member_new'),
    method : 'POST'
}) }}

{%  include "@GymanApp/Members/member_form_inner.html.twig" %}

<div class="row-fluid">
    <div class="span12">
        <button class="btn btn-large btn-primary pull-right" type="submit">
            Zapisz
        </button>
    </div>
</div>

{{ form_end(form) }}

</div>

{% endblock content %}
