{% extends 'GymanSettingsBundle::layout.html.twig' %}

{% block settings_page %}
    <ul>
        {% for section in sections %}
        <li>{{ section.title }}</li>
        {% endfor %}
    </ul>

{% endblock settings_page %}

