{{ form_start(form, {action: path("gyman_multidatabase_set_current_club")}) }}
    {{ form_widget(form.club) }}

    <button type="submit">switch</button>

    {{ form_rest(form) }}
{{ form_end(form) }}