*/5 * * * * php /home/vagrant/www/app/console gyman:vouchers:clear_expired --club=rio
*/5 * * * * php /home/vagrant/www/app/console gyman:vouchers:update_current --club=rio
*/5 * * * * php /home/vagrant/www/app/console gyman:entries:close_expired --club=rio

*/5 * * * * php /home/vagrant/www/app/console gyman:vouchers:clear_expired --club=dende
*/5 * * * * php /home/vagrant/www/app/console gyman:vouchers:update_current --club=dende
*/5 * * * * php /home/vagrant/www/app/console gyman:entries:close_expired --club=dende

*/5 * * * * php /home/vagrant/www/app/console gyman:vouchers:clear_expired --club=extreme
*/5 * * * * php /home/vagrant/www/app/console gyman:vouchers:update_current --club=extreme
*/5 * * * * php /home/vagrant/www/app/console gyman:entries:close_expired --club=extreme

