{{ knp_menu_render('gyman.members.menu.tabs_picture', {
    'template': 'GymanAppBundle:Members:Menu/picture.html.twig',
    'currentAsLink' : true,
    'depth' : 1,
    'currentClass' : 'active'
}) }}

<div class="tab-content">
    <div id="filePane" class="tab-pane fade in">
        <img src="{{ avatar(member) }}" class="thumbnail" id="memberFoto"/>

        {{ form_widget(form.uploadFile) }}

        <div class="control-group error">
            <div class="help-block">
                {{ form_errors(form.uploadFile) }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade in active" id="webcamDiv">
        <div id="camera" data-upload-url="" style="width: 300px; height: 240px"></div>
    </div>
</div>