{% extends 'GymanSettingsBundle::layout.html.twig' %}
{# @var section \Gyman\Domain\Section #}
{% block settings_page %}
    <table>
        <thead>
        <tr>
            <th>Nazwa</th><th>Instruktor</th><th>Uczestnicy</th><th>Akcje</th>
        </tr>
        </thead>
        <tbody>
            {% for section in sections %}
                <tr><td>{{ section.title }}</td><td>{{ section }}</td></tr>
            {% endfor %}
        </tbody>
    </table>

    {{ dump() }}
{% endblock settings_page %}

