{% extends "DashboardBundle::layout.html.twig" %}

{% block body_class %}dashboard{% endblock %}

{% block body %}

    <div class="heading">

        <h3>Pulpit uczestnika</h3>

    </div><!-- End .heading-->

    <div class="form-row row-fluid">
        bla bla bla
    </div>
{% endblock body %}
